/* min-1200px */

/* HEADER */



/* MAIN */

.title-hero {
    text-align: center;
}

.intro-hero {
    text-align: center;
    padding:1rem 2rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 0 20px;
}


/* HERO */

.container-hero {
    padding: 0;
}

.container {
    padding: 0;
}


/* PRODUCTS */

.section-products {
    max-width: 1140px;
}

.p-left {
    padding-left: 0;
}

.title {
    padding-top: 11.5rem;
}

.section-prd {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 2rem;
}



/* CARACTERISTICAS */

.section-features {
    max-width: 1140px;
}

.section-crc {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,minmax(0,1fr));
    max-width: 1140px;
    margin: auto;
}

/* VIDEO */

.section-video {
    display: flex;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.section-video iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* PLANS */

.section-pricing {
    max-width: 1140px;
}

.plan {
    width: 70%;
    margin: auto;
}

/* EQUIPO */

.section-equipo {
    max-width: 1140px;
}

/* CONTACT */

.section-contact {
    text-align: center;
    max-width: 1140px;
}
